# This file contains pin mappings for the stock 2021 Creality Ender 7.
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

#Ender-7 with bltouch klipper minimum printer.cfg
[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
rotation_distance: 32
microsteps: 32
endstop_pin: ^PA5
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
rotation_distance: 32
microsteps: 32
endstop_pin: ^PA6
position_endstop: 250
position_max: 250
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 300

[bed_screws]
screw1: 25, 25
screw2: 225, 25
screw3: 225, 225
screw4: 25, 225

[screws_tilt_adjust]
screw1: 25, 25
screw1_name: front left screw
screw2: 225, 25
screw2_name: front right screw
screw3: 225, 225
screw3_name: rear right screw
screw4: 25, 225
screw4_name: rear left screw

[extruder]
pressure_advance = 0.520
max_extrude_only_distance: 1000.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 21.30
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 19.122
pid_Ki: 0.898
pid_Kd: 101.825
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PA15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 70.499
pid_Ki: 1.546
pid_Kd: 803.686
min_temp: 0
max_temp: 100

[fan]
pin: PA0          # Hotend additional fans

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PA4

[bltouch]                 # enable for BLTouch (requires self_test after each firmware restart)
sensor_pin: ^PB1
control_pin: PB0
#z_offset: 2.900          # initial safe value, get correct value by PROBE_CALIBRATE
x_offset: -28.28
y_offset: -28.28

[safe_z_home]                       # BLTouch home x,y axis then move to centre and home z
home_xy_position: 125, 125          # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                           # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 10       #lift z between movements
mesh_min: -25, -25          # x, y (x: 0-28.28=-28.28, -28.28+250= 221.72)
mesh_max: 190, 190
probe_count: 4
